.header_left {
  h1 {
    color: var(--foundation-white-white-50, #fefefe);
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
  }
  p {
    color: var(--foundation-white-white-50, #fefefe);
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
